body{
    background-color: #FFEBC2;
    font-family: monospace;
    margin: 0;
   line-height: 23px;
}
.container-fuild{
    width:1000px;
    border-radius: 30px;
    margin:auto;
    max-width: 100%;
}
header{
    position: fixed;
    width:100%;
    border-bottom:1px solid #00000026;
    top:0%;
    z-index: 1;
    background-color: #FFEBC255;
    backdrop-filter: blur(20px);

}
.box{
    width:1000px;
    max-width: 100%;
    display: grid;
    grid-template-columns: 200px auto 200px;
    margin: auto;
}
header .box div{
    display: flex;
    align-items: center;
}
header .logo{
    font-weight: bold;
    font-size: xx-large;
    justify-content: left!important;
}
header .menu{
    justify-content: center;
}
header .menu ul{
    padding:0;
    list-style: none;
}
header .menu ul li{
    display: inline-block;
    font-weight: bold;
    margin:0 10px;
}
header .menu ul .active{
    color:#FFAB59;
}
header .shop{
   justify-content: right!important;
}
.container{
    width:1000px;
    max-width: 100%;
    margin: 60px auto;
}
.container .banner{
    width:100%;
    height: 600px;
    position: relative;
}
.container .banner .title{
    position: absolute;
    top:0;
    background-color: #FDBC0C;
    background-image: linear-gradient(to top right,#FCB116, #FCC210);
    width:100%;
    height: calc(50% - 50px);
    border-radius: 40px;
    text-align: center;
    padding-top:50px;
    font-weight: bold;
    font-size: xxx-large;
}
.container .banner .detail{
    position: absolute;
    top:20%;
    background-color: #FFEECE55;
    backdrop-filter: blur(20px);
    width: calc(90%);
    left:5%;
    border-radius: 40px;
    display: grid;
    grid-template-columns: auto 300px auto;
    grid-template-rows: 300px;
    padding:50px 0;
    box-shadow: 0 50px 50px #0000004A;
}
.container .banner .detail .info h2{
    color:#5B5280;
    font-weight: bold;
    font-size: xx-large;
}
.container .banner .detail .info,
.container .banner .detail .option{
    padding:30px;
    overflow: hidden;
}
.container .banner .detail .info .des{
   opacity: 0.7;
}
.container .banner .detail .img{
    background-color: #fff;
    border-radius: 50%;
    background-image: radial-gradient(#F8C697, #FFF2D9);
    transform: rotate(25deg);
}
.ellipse{
    width:30px;
    height:30px;
    margin:20px 5px 20px 0;
    display: inline-block;
    border-radius: 50%;
}
.card{
    background-color: #34332E;
    color:#FCB116;
    padding:10px 20px;
    border-radius: 10px;
    border:none;
}
.container .list{
    width:90%;
    margin:auto;
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 30px;
    row-gap: 30px;
}
.container .list .item{
    background-image: radial-gradient(#f1d6bc, #fff);
    text-align: center;
    border-radius: 20px;
}

.container .list .item img{
    width:80%;
    transform:rotate(30deg) translate(20px);
}
.container .list h2{
    grid-column-start: 1;
    grid-column-end: 4;
}

.container .list .item .content{
    padding:50px 0 20px;
    color:#57497C;
    font-weight: bold;
}
footer{
    width:1000px;
    max-width: 100%;
    margin: auto;
    height:300px;
    position: relative;
}
footer .title{
    background-color: #ffffff55;
    position: absolute;
    width:90%;
    left:5%;
    padding:50px 0 100px;
    text-align: center;
    font-weight: bold;
    font-size: xxx-large;
    border-radius: 40px;
    z-index: 2;
    backdrop-filter: blur(20px);
}
footer .menuBottom{
    background-color: #FCB116;
    position: absolute;
    bottom:0;
    width:100%;
    height: 70%;
    border-radius: 40px;
    z-index: 1;
    padding:0;
    display: flex;
    justify-content: center;
    align-items: end;
    list-style: none;
}
footer .menuBottom li{
    padding:30px;
    font-weight: bold;
}